{% macro render_json(value, as_text) %}
    <pre class="clio-json-content">{% if as_text %}{{ value }}{% else %}{{ value|json_encode }}{% endif %}</pre>
{% endmacro %}

{% macro render_yml(value, as_text) %}
    <pre class="clio-yml-content">{% if as_text %}{{ value }}{% else %}{{ value|yaml_dump(2) }}{% endif %}</pre>
{% endmacro %}

{% macro render_xml(value, as_text) %}
    <pre class="clio-xml-content">{% if as_text %}{{ value }}{% else %}{#TODO: implement#}{% endif %}</pre>
{% endmacro %}
